[submodule "champagne-api"]
	path = champagne-api
	url = https://github.com/Gooseforge/champagne-api.git
[submodule "champagne-client"]
	path = champagne-client
	url = https://github.com/Gooseforge/champagne-client.git
[submodule "champagne-docs"]
	path = champagne-docs
	url = https://github.com/Gooseforge/champagne-docs.git
